# Server
PORT=4000
ENABLE_AUTH=true

# Database
DATABASE_URL="postgresql://postgres:nerieannganda247@localhost:5432/ftms_dbn2?schema=public"
#DATABASE_URL=""

# API Docs
ENABLE_API_DOCS=true
API_DOCS_PATH=/docs

# Authentication
JWT_SECRET=placeholder_value

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:4003,http://localhost:4000

# External APIs
HR_API_BASE_URL=https://api.agilabuscorp.me

HR_EMPLOYEES_ENDPOINT=/inventory/employees
HR_PAYROLL_ENDPOINT=/finance/v2/payroll-integration

OP_API_BASE_URL=https://boms-api.agilabuscorp.me

OP_BUS_TRIPS_ENDPOINT=/api/Bus-Trips-Details
OP_RENTAL_TRIPS_ENDPOINT=/api/Rental-Request-Details

INV_API_BASE_URL=placeholder_value
BUDGET_REQUEST_MICRO_BASE_API_URL=placeholder_value
AUDIT_LOGS_MICRO_BASE_API_URL=placeholder_value
