PORT=3001 # trigger deployment
ENABLE_AUTH=false
JWT_SECRET=placeholder_value
DATABASE_URL="postgresql://postgres:alice8sca@localhost:5432/finance_db?schema=public"
# DATABASE_URL="postgresql://postgres:TJqgGbTFbXCoRKpWucwkrosBOimOhRgN@switchback.proxy.rlwy.net:43469/railway"
ENABLE_API_DOCS=true
API_DOCS_PATH=/docs
ALLOWED_ORIGINS=http://localhost:3000

# AUDIT_LOGS_MICRO_BASE_API_URL=https://agilaaudit-production.up.railway.app    
AUDIT_LOGS_MICRO_BASE_API_URL=http://localhost:4001  

# BUDGET_REQUEST_MICRO_BASE_API_URL=https://budget-request-management-production.up.railway.app   
BUDGET_REQUEST_MICRO_BASE_API_URL= http://localhost:5001 

HR_API_BASE_URL=https://api.agilabuscorp.me
HR_EMPLOYEES_ENDPOINT=/inventory/employees
HR_PAYROLL_ENDPOINT=/finance/v2/payroll-integration
EMS_GATEWAY_URL=https://api.agilabuscorp.me
OP_API_BASE_URL=https://boms-api.agilabuscorp.me
OP_BUS_TRIPS_ENDPOINT=/api/Bus-Trips-Details
OP_RENTAL_TRIPS_ENDPOINT=/api/Rental-Request-Details
PURCHASE_REQUEST_API_URL=https://purchase-request-production-17a6.up.railway.app/api/v1/finance/purchase-requests
INV_API_BASE_URL=https://ims-backend-production-46ba.up.railway.app
INV_BUS_ENDPOINT=/api/v1/admin/bus-operation
INV_SUPPLIER_ENDPOINT=/api/v1/admin/suppliers
EXTERNAL_DEPARTMENT_API_URL=https://backends-liart.vercel.app/api/departments     # DUMMY ONLY FOR NOW
