#! LOCAL VARIABLES FOR DEVELOPMENT PURPOSES ONLY
PORT=3001
ENABLE_AUTH=false
JWT_SECRET=placeholder_value
DATABASE_URL="postgresql://postgres:nerieannganda247@localhost:5432/ftms101?schema=public"
ENABLE_API_DOCS=true
API_DOCS_PATH=/docs
ALLOWED_ORIGINS=http://localhost:3000
BUDGET_REQUEST_MICRO_BASE_API_URL=https://budget-request-management-production.up.railway.app     # CAN REPLACE WITH LOCAL URL IF NEEDED
AUDIT_LOGS_MICRO_BASE_API_URL=https://agilaaudit-production.up.railway.app     # CAN REPLACE WITH LOCAL URL IF NEEDED
HR_API_BASE_URL=https://api.agilabuscorp.me
HR_EMPLOYEES_ENDPOINT=/inventory/employees
HR_PAYROLL_ENDPOINT=/finance/v2/payroll-integration
EMS_GATEWAY_URL=http://192.168.56.1:4001
OP_API_BASE_URL=https://boms-api.agilabuscorp.me
OP_BUS_TRIPS_ENDPOINT=/api/Bus-Trips-Details
OP_RENTAL_TRIPS_ENDPOINT=/api/Rental-Request-Details
PURCHASE_REQUEST_API_URL=https://purchase-request-production-17a6.up.railway.app/api/v1/finance/purchase-requests
INV_API_BASE_URL=https://ims-backend-production-46ba.up.railway.app
INV_BUS_ENDPOINT=/api/v1/admin/bus-operation
INV_SUPPLIER_ENDPOINT=/api/v1/admin/suppliers
EXTERNAL_DEPARTMENT_API_URL=https://backends-liart.vercel.app/api/departments     # DUMMY ONLY FOR NOW



#? ! PRODUCTION VARIABLES - TO BE USED IN DEPLOYMENT ONLY
# ENABLE_AUTH=false
# JWT_SECRET=placeholder_value
# DATABASE_URL="postgresql://postgres:HBnradoEjPTEUawomHHRctvCggUBdiZu@nozomi.proxy.rlwy.net:27473/railway"
# ENABLE_API_DOCS=true     //false if implementing auth service
# API_DOCS_PATH=/docs
# ALLOWED_ORIGINS=https://ftms.agilabuscorp.me,https://agila-audit-frontend.vercel.app,https://budget-request-micro-frontend.vercel.app,https://agilaaudit-production.up.railway.app,https://budget-request-management-production.up.railway.app
# BUDGET_REQUEST_MICRO_BASE_API_URL=https://budget-request-management-production.up.railway.app
# AUDIT_LOGS_MICRO_BASE_API_URL=https://agilaaudit-production.up.railway.app
# HR_API_BASE_URL=https://api.agilabuscorp.me
# HR_EMPLOYEES_ENDPOINT=/inventory/employees
# HR_PAYROLL_ENDPOINT=/finance/v2/payroll-integration
# EMS_GATEWAY_URL=http://192.168.56.1:4001
# OP_API_BASE_URL=https://boms-api.agilabuscorp.me
# OP_BUS_TRIPS_ENDPOINT=/api/Bus-Trips-Details
# OP_RENTAL_TRIPS_ENDPOINT=/api/Rental-Request-Details
# PURCHASE_REQUEST_API_URL=https://purchase-request-production-17a6.up.railway.app/api/v1/finance/purchase-requests
# INV_API_BASE_URL=https://ims-backend-production-46ba.up.railway.app
# INV_BUS_ENDPOINT=/api/v1/admin/bus-operation
# INV_SUPPLIER_ENDPOINT=/api/v1/admin/suppliers
# EXTERNAL_DEPARTMENT_API_URL=https://backends-liart.vercel.app/api/departments     # DUMMY ONLY FOR NOW