
/* ---------- Utility Classes ---------- */
.autofill-note {
  font-size: 0.8em;
  color: var(--secondary-text-color);
  font-style: italic;
  margin-top: 0.25rem;
}

.addButton {
    font-weight: 500 !important;
    color: White !important;
    background-color: var(--primary-color) !important;
    width: 'auto';
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}